-# in app/views/trends/show.html.haml

%h1 Details about #{@trend.trendid}

%ul#details
  %li
    title:
    = @trend.title
  %li
    price:
    = @trend.price
  %li
    quantity:
    = @trend.quantity


= link_to 'Edit info', edit_trend_path(@trend)
= button_to 'Delete', trend_path(@trend), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to trend list', trends_path